.technoid-section-3 {
  width: 100%;
  position: relative;
  top: 0;
  padding: 55px 10px 100px;
  z-index: 98;
}
/* .technoid-container-3 {
  overflow: clip;
  overflow: hidden;
} */

.technoid-shine-3 {
  position: absolute;
  width: 8%;
  top: -25%;
  left: 38%;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
.technoid-slogan {
  position: absolute;
  right: 4%;
  top: -18%;
  width: auto;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}
.technoid-slogan img {
  width: 350px;
}

.technoid-header3-left {
  height: 100%;
}
.pink-balloon {
  position: absolute;
  left: 8%;
  top: 10%;
  width: 10%;
}
.technoid-header3-middle {
  text-align: center;
}
.content-box-3 {
  width: 40%;
  margin: 0 auto;
}
.content-box-3 .content-para-3 {
  position: relative;
  font-size: 30px;
  font-family: system-ui;
  font-weight: 400;
  margin-bottom: 30px;
}
.green-balloon {
  position: absolute;
  width: 15%;
  left: 4%;
  bottom: -15%;
}
.orange-wave {
  position: absolute;
  width: 68%;
  right: -55%;
}
#technoid-button-container {
  padding: 60px 0;
}
.technoid-button-panel {
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
}
.technoid-button-list {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.button-class {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  font-size: 17px;
  font-weight: 200;
  text-align: center;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background: #8a59c8;
  color: var(--white);
  cursor: pointer;
  display: block;
  margin: 0 10px;
  padding: 15px 30px;
}
.button-class-darkMode {
  background: #f5c547;
  color: #514f53;
  box-shadow: 0 0 22px -5px #ffc836;
  -webkit-box-shadow: 0 0 22px -5px #ffc836;
  -moz-box-shadow: 0 0 22px -5px #ffc836;
}
.button-class:hover {
  background-color: #f5c547;
}
.techoidShine3,
#tecnoid-slogan-im img,
.pinkBalloon,
.greenBalloon,
.orangeWave {
  max-width: 100%;
}
